.orders-page {
  padding: 50px;
}

.orders-page h1 {
  margin-bottom: 40px;
}

.orders-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card {
  background-color: white;

  padding: 25px;

  border-radius: 12px;

  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.order-card h3 {
  margin-bottom: 15px;
}

.order-card p {
  margin-bottom: 10px;
}